<p id="notice"><%= notice %></p>
<div class="container">
<h1>My Notes</h1>
<div class="row">
    <% @notes.each do |note| %>
    <div class="col-md-4">

      <%= link_to note do %> 
        <div class="note-box">
        <h2><%= note.title %></h2>
        <h3><%= note.created_at.strftime("%m-%d-%Y") %> taken at <%=note.created_at.strftime("%H:%M %p") %></h3>
      <% end %>

    <% if note.slidedeck_id? %>
  <h3 class="connection">Pinned to: <%= link_to note.slidedeck.try(:title), note.slidedeck %></h3>
<% else %>
  <h3 class="no-connection">Not pinned!</h3>
  <%= simple_form_for(note) do |f| %>
      <%= f.collection_select(:slidedeck_id, @slidedecks, :id, :title, :include_blank => "Pin to Presentation") %>
      <%= f.button :submit, "Pin!", class: 'btn btn-success'
 %>
   <% end %>
<% end %>
      <div class="links">
        <%= link_to 'Show', note %>
        <%= link_to 'Edit', edit_note_path(note) %>
        <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div><!--links-->
      </div>
    </div><!--col-md-4-->

    <% end %>
    </div><!-- row -->


<br>

<%= link_to 'New Note', new_note_path, class: 'btn btn-primary' %>
</div>