<div class="container">
<p id="notice"><%= notice %></p>

<div class="notes">

  <h2><%= @note.title %> | <%= @note.created_at.strftime("%m-%d-%Y") %> at <%=@note.created_at.strftime("%H:%M %p") %></h2>

  	<%= @note.content.html_safe %>


<%= link_to 'Edit Note', edit_note_path(@note) %> |
<%= link_to 'All Notes', notes_path %>
</div>
</div>