<div class="container">
<div class="notes">
<p id="notice"><%= notice %></p>

  <h2><%= @note.title %> | <%= @note.created_at.strftime("%m-%d-%Y") %> at <%=@note.created_at.strftime("%H:%M %p") %></h2>

  	<%= @note.content.html_safe %>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
</div>
</div>