<div class="container">
		<% if flash[:notice] -%>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
	<div class="row">
		<div class="col-md-8">
		<%= link_to 'Back to Homework Center', pages_gradebook_path %>


			<h1><%= @assignment.name %></h1>

			<h2>Deadline:</h2>
		  		<h4><%= @assignment.deadline %></h4>
			 <h2>What you Need To Do:</h2>
			  <p><%= @assignment.description %></p>
			  
			  <%= link_to 'Submit Your Homework', new_submission_path, class: 'btn btn-primary' %>
		</div>
		<div class="col-md-4 projects-right">
			<div class="padding-right">
			<h1>When did we talk about this?</h1>
			 <% for lesson in @assignment.lessons %>
                <ul>
                  <li>[<%= lesson.date %>] <%= link_to lesson.name, lesson_url(lesson) %>
                    </li>
                </ul>
                <% end %>
             </div>
		</div>
	</div>
	<% if current_user.try(:admin?) %>
		<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
	<% end %>
	
	</div>