
<%= simple_form_for(@slidedeck) do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <h2>Google Slide iframe code</h2>
  <%= f.text_area :google, cols: "100%", rows: "10" %>
  <div class="form-inputs">
  </div>
  	
<br>
<br>
<div class="row">
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>

