<script type="text/javascript">
$(function() {
  $('.sortable').railsSortable();
});
</script>
<div class="container">
<p id="notice"><%= notice %></p>

<h1><%= image_tag 'tutorial.png' %> Tutorials and Other Resources</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sort</th>
      <th>Tutorial Topic</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody class="sortable">
    <% @tutorials.each_with_sortable_id do |tutorial, sortable_id| %>
      <tr id="<%= sortable_id %>"> 
        <td><%= tutorial.sort %></td>
        <td><%= tutorial.name %></td>
      <td><%= link_to tutorial do %>
              <i class="material-icons">pageview</i>
          <% end %></td>
      <% if current_user.try(:admin?) %>

        <td><%= link_to 'Edit', edit_tutorial_path(tutorial) %></td>
        <td><%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if current_user.try(:admin?) %>

<%= link_to 'New Tutorial', new_tutorial_path %>
<% end %>
</div>
