<div class="container">
<p id="notice"><%= notice %></p>

<h1><%= current_user.name %>'s Gradebook</h1>

<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Submission Date:</th>
      <th>Score</th>
      <th>Attached file</th>
    </tr>
  </thead>

   <tbody>
    <% @submissions.each do |submission| %>
      <tr>
      <% for assignment in submission.assignments %>
        <td><%= link_to assignment.name, submission %></td>
      <% end %>
        <td><%= submission.created_at.to_date %>, <%= submission.created_at %></td>
        <% if submission.score? %>
          <td><%= submission.score %>/<%= submission.totalscore %> or <%= number_to_percentage(submission.score.to_f * 100 / submission.totalscore) %></td>
        <% else %>
          <td>Not graded yet!</td>
        <% end %>
        
        <% if submission.document? %>
      <td><a target=_blank href=" <%= submission.document.url %>"><%= submission.document.original_filename %></a></td>
    <% else %>
    <td>No Document(s) Attached!</td>
  <% end %>      
      </tr>
    <% end %>
  </tbody>
</table>
<br>
    <h3>Total Points Earned:</h3> <h4 style="color:#c0392b"><%= @submissions.sum(:score) %> out of <%= @submissions.sum(:totalscore) %></h4>
    <h3>Your Grade So Far:</h3><h4 style="color:#c0392b"><%= number_to_percentage @submissions.sum(:score).to_f * 100 / @submissions.sum(:totalscore) %></h4>


<%= link_to 'Submit an assignment', new_submission_path %>

</div>
