<div class="container">
		<div class="username">
			<% @usergrades.each do |user| %>
			<h1><strong><%=user.last_name %>, <%= user.name %></strong></h1>
				<div class="table-responsive usergrades">
					<table class="table table-striped table-hover table-condensed">
						<% for submission in user.submissions %>
							<tr>
				              <td width="30%"><%= submission.assignment_name %>:</td>
				              <td width="70%"><%= submission.score %> / <% for assignment in submission.assignments %> <%= assignment.score %></td>
				             </tr>		    
				             <% end %>
							<% end %>
				     
				          	 <td><strong>Total Score:<strong></td> 
				          	 <td><strong><%= user.submissions.sum(:score) %> / <%= @assignments.sum(:score) %> or <%= number_to_percentage user.submissions.sum(:score).to_f * 100 / @assignments.sum(:score) %></strong></td>
				     </table>
				 </div>
			</div>

			 <% end %>
