<div class="container">
	<% @users.each do |user| %>

	<h1><%= user.name %> <%= user.last_name %>'s Grades</h1>
		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<% for submission in user.submissions %>
					<tr>
		              <td><strong><%= submission.assignment_name %>:</strong></td>
		              <td><%= submission.score %> / <%= submission.totalscore %></td>
		             </tr>		    

		          <% end %>

		     </table>
		    <h3 style = "color:red">Total Score: <%= user.submissions.sum(:score) %> out of <%= @assignments.sum(:score) %></h3>
		 </div>
	 <% end %>
</div>