<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= render "#{@submission.current_step}_step", :f => f %>

<%= f.submit "Continue to Submission Page", class: "btn btn-success" unless @submission.last_step? %> 
<br>
<div class="col-md-6 col-md-offset-6">
<%= f.submit "Submit Assignment", class: "btn btn-success form-control" unless @submission.first_step? %> 
<br>
<br>
<%= f.submit "Go Back to choose a different assignment", class: "btn btn-danger", :name => "back_button" unless @submission.first_step? %>
</div>
<br>
<% end %>
