<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if current_user.try(:admin?) %>
  <div class="third-form-group">
  <h2>Grade Assignment</h2>
    <%= f.label :score %><br>
    <%= f.number_field :score %>
    <br>
    <%= f.label :totalscore %><br>
    <%= f.number_field :totalscore %>
    <br>
    <%= f.label :feedback, 'Instructor Feedback' %><br>
    <%= f.text_area :feedback, class: "form-control", rows: "10" %>
   <%= f.label :attachment %>
    <%= f.file_field :image, :class => "form-control-file", class: "form-control" %>
    </div>
  <% end %>

<%= render "#{@submission.current_step}_step", :f => f %>
<%= f.submit "Back", class: "btn btn-primary", :name => "back_button" unless @submission.first_step? %>
<%= f.submit "Continue", class: "btn btn-primary" %> 


<% end %>