<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if current_user.admin? %>
<div class="row">
  <div class="col-md-8">
  <div class="third-form-group">
  <h2>Grading <strong><%= @submission.user.name %>'s</strong> Submission for <% for @assignment in @submission.assignments %><strong><%= @assignment.name %></strong><% end %></h2>
    <%= f.label :score %><br>
    <%= f.number_field :score, class: "form-control" %>
    <br>
    <%= f.label :totalscore %><br>
    <%= f.number_field :totalscore, class: "form-control" %>
    <br>
    <%= f.label :feedback, 'Instructor Feedback' %><br>
    <%= f.text_area :feedback, class: "form-control", rows: "10" %>
   <%= f.label :attachment %>
    <%= f.file_field :image, :class => "form-control-file", class: "form-control" %>
    </div>
  </div><!--col-md-8-->
  <div class="col-md-4 projects-right">
    <div class="padding-right">
        <% for assignment in @submission.assignments %>

          <h2>Submission Information</h2>
                  <ul>
                    <li class="show-field">Due: <%= assignment.deadline %></li>
          <% end %>
                    <li class="show-field">Submitted: <%= @submission.created_at.to_date %> at <%= @submission.created_at %></li>
                  </ul>

          <h2><%= @submission.user.name %>'s Content</h2>
            <% if @submission.description? %>
              <p><%=@submission.description %></p>
            <% else %>
            <p><strong><%= @submission.user.name %></strong> didn't write anything</p>
            <% end %>
          <h2>Attached file</h2>
            <% if @submission.document? %>
                  <ul><li><a target=_blank href=" <%= @submission.document.url %>"><%= @submission.document.original_filename %></a></li></ul>
                  <% else %>
                  <li>No Document(s) Attached!</li>
                <% end %>
          </div>
        </div>
  </div>
  <%= f.submit "Submit Assignment", class: "btn btn-primary" %> 


<% else %>
<%= render "#{@submission.current_step}_step", :f => f %>
<%= f.submit "Back", class: "btn btn-primary", :name => "back_button" unless @submission.first_step? %>
<%= f.submit "Continue", class: "btn btn-primary" unless @submission.last_step? %> 
<%= f.submit "Submit Assignment", class: "btn btn-primary" unless @submission.first_step? %> 
<% end %>

<% end %>