<div class="container">
<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-8">
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back to All Projects', projects_path %>

  <h1><%= @project.name %></h1>


  <h2>Description:</h2>
  <p><%= @project.description %></p>


  <h2>Deliverables:</h2>

  <% for deliverable in @project.deliverables %>
        <ul><li><%= deliverable.description %></li></ul>
        <% end %>

        <h2>Grading Criteria:</h2>

  <% for rubric in @project.rubrics %>
        <ul><li><%= rubric.description %></li></ul>
        <% end %>
</div>
<div class="col-md-4 projects-right">
  <h2>Related Lessons and Links</h2>
   <% for lesson in @project.lessons %>
                <ul>
                  <li><%= link_to lesson.name, lesson_url(lesson) %>
                    </li>
                </ul>
                <% end %>
  </div>


</div>
</div>