eee<%= form_for(@lesson, html: { multipart: true }) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="first-group-form">
  <div class="form-group">
      <%= f.label :course_id, name="Course ID" %><br>
      <%= f.text_field :course_id, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :week %>
      <%= f.text_field :week, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :date %>
      <%= f.date_select :date, class: "form-control" %>
    </div>
  </div>

<div class="second-group-form">
  <%= f.fields_for :objectives do |builder| %>
  <%= render 'objectives_fields', f:builder %>
  <% end %>

  <%= f.fields_for :classactivitys do |builder| %>
  <%= render 'classactivitys_fields', f:builder %>
  <% end %>

<%= f.fields_for :readings do |builder| %>
  <%= render 'readings_fields', f:builder %>
  <% end %>

  <%= f.fields_for :homeworks do |builder| %>
  <%= render 'homeworks_fields', f:builder %>

  <% end %>
</div>

  <div class="field">
    <%= f.label :document %><br>
    <%= f.file_field :document, :class => "form-control-file", class: "form-control" %>
  </div>


  <div class="actions">
    <%= f.submit "Create Lesson", class: "btn btn-primary" %>
  </div>
<% end %>

