<p id="notice"><%= notice %></p>
<div class="container">
<% if current_user.try(:admin?) %>
<%= link_to 'New Lesson', new_lesson_path, class: "btn btn-primary" %>
<% end %>
<h1>Course Schedule</h1>

<%= search_form_for @search do |f| %>
<div class="field">
  <%= f.label :name_cont, "Search Lessons" %>
  <%= f.text_field :name_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search", class: "btn-primary btn" %></div>
<% end %>

<%= link_to "Clear Search", request.path, class:"cancel-button" %>

<div class="table-responsive">
<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th><%= sort_link @search, :name, "Name" %></th>
      <th><%= sort_link @search, :week, "Week" %></th>
      <th><%= sort_link @search, :date, "Date" %></th>
       <th><%= sort_link @search, :objectives, "Objectives" %></th>
       <th><%= sort_link @search, :activties, "In-Class Activities" %></th>
        <th><%= sort_link @search, :readings, "Readings" %></th>

       <th><%= sort_link @search, :homework, "Homework" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td class="name"><%= link_to [lesson.name].join(" "), lesson %></td>
        <td><%= lesson.week %></td>
        <td><%= lesson.date %></td>

      <td><% for objective in lesson.objectives %>
        <ul><li><%= objective.content %></li></ul>
      <%end%></td>

      <td><% for classactivity in lesson.classactivitys %>
        <ul><li><%= classactivity.content %></li></ul>
      <%end%></td>

      <td><% for reading in lesson.readings %>
        <ul><li><%= reading.content %></li></ul>
      <%end%></td>

      <td><% for homework in lesson.homeworks %>
        <ul><li><%= homework.content %></li></ul>
      <%end%></td>


        <td><%= link_to 'View Lesson', lesson %></td>
        <% if current_user.try(:admin?) %>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


</div>
