<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
	<div class="col-md-8 show-left">

	  <h1><%= @lesson.name %></h1>

	  <h3>Week:
	  <%= @lesson.week %></h3>


		<h3>Date:
	  <%= @lesson.date %></h3>

		<h3>Objectives:</h3>
		<ol>
			<% for objective in @lesson.objectives %>
			<li><%= objective.content %></li>
		<% end %>
		</ol>

		<h3>In-Class Activities:</h3>
		<ol>
		<% for classactivity in @lesson.classactivitys %>
		<li><%= classactivity.content %></li>
		<% end %>
		</ol>
	</div>
	<div class="col-md-4 show-right">
	<h1>To Do Before Class</h1>
		<h3>Readings:</h3>
		<ol>
		<% for reading in @lesson.readings %>
		<li><%= reading.content %></li>
		<% end %>
		</ol>
		<h3>Homework:</h3>
		<ol>
		<% for homework in @lesson.homeworks %>
		<li><%= homework.content %></li>
		<% end %>
		</ol>

	<% if @lesson.document? %>
		<a target=_blank href=" <%= @lesson.document.url %>">Attached Document</a>

	<% else %>
	  No Document(s) Attached!
	<% end %>
	</div>
</div><!--row-->


<%= commontator_thread(@lesson) %>


<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<% end %>
<%= link_to 'Back', lessons_path %>
</div>
