<div class="container">
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
	<div class="col-md-8 show-left">

	  <h1>Lesson:<%= @lesson.name %></h1>

	  <h3>Week:
	  <%= @lesson.week %></h3>


		<h3>Date:
	  <%= @lesson.date %></h3>

		<h3>Objectives:</h3>
		<ol>
			<% for objective in @lesson.objectives %>
			<li><%= objective.content %></li>
		<% end %>
		</ol>

		<h3>In-Class Activities:</h3>
		<ol>
		<% for classactivity in @lesson.classactivitys %>
		<li><%= classactivity.content %></li>
		<% end %>
		</ol>
	</div>
	<div class="col-md-4 show-right">
	<h1>To Do Before Class</h1>
		<h3>Readings:</h3>
		<ol>
		<% for reading in @lesson.readings %>
		<li><%= reading.content.html_safe %></li>
		<% end %>
		</ol>
		<h3>Homework:</h3>
		<ol>
		<% for homework in @lesson.homeworks %>
		<li><%= homework.content.html_safe %></li>
		<% end %>
		</ol>
	<h1>Associated File</h1>
	<% if @lesson.document? %>
		<h3><a target=_blank href=" <%= @lesson.document.url %>"><%= @lesson.document.original_filename %></a></h3>

	<% else %>
	  <h3>No Document(s) Attached!</h3>
	<% end %>
	<% if @lesson.document2? %>
		<h3><a target=_blank href=" <%= @lesson.document2.url %>"><%= @lesson.document2.original_filename %></a></h3>

	<% else %>
	  <h3>No Document(s) Attached!</h3>
	<% end %>


	<h1>Related Project(s)</h1>
	 <% for project in @lesson.projects %>
      	<ul><li><%= link_to project.name, project_url(project) %></li></ul>
               
     <% end %>
</div>
</div><!--row-->


<%= commontator_thread(@lesson) %>


<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
	<%= link_to 'Back', lessons_path %>
<% end %>
<%= link_to('Back to all lessons', :back) %>

</div>
