<!DOCTYPE html>
<html>
<head>
  <title>TECM 4400 - Advanced Information Design for Electronic Media,  UNT, Lam, Fall 2018</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' %>
     <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Merriweather+Sans' %>
     <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Josefin+Sans' %>
      <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Muli:400,700' %>
      <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Cardo' %>
       <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Dosis:400,700' %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>

<div class="container-fluid">
<% if current_page?(abouts_path) or current_page?(root_path) or current_page?(new_user_session_path) or current_page?(new_user_registration_path) %>
  <%= render 'layouts/header'  %>

<% else %>

  
  <%= render 'layouts/header2'  %>
<% end %>

 <% if flash[:alert] -%>
<div class="alert alert-success">
  <%= flash[:alert] %>
</div>
<% end %>
<%= yield %>

</div>

<script type ="text/javascript">
var options = {
  valueNames: [ 'name', 'student' ]
};

var userList = new List('users', options);

$('#student').change(function () {
    var selection = this.value; 

    // filter items in the list
    userList.filter(function (item) {
        if (item.values().student == selection) {
            return true;
        } 
        else {
            return false;
        }
    });
});
</script>
<%= render 'layouts/footer' %>

</body>
</html>
